body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed{
  text-decoration: line-through;
}
<<<<<<< HEAD
.alert{
  opacity: 0;
}

.fadeIn{
  transition:opacity 0.5s ease-in-out;
  animation: fadeIn 1s 1 forwards;
}
@keyframes fadeIn{
   from{
       opacity: 1;
   }
   to{
      opacity:0;
   }
}

.fadeOut{
  transition:opacity 0.5s ease-in-out;
  animation: fadeOut 1s 1 forwards;
}
@keyframes fadeOut{
   from{
       opacity: 0;
   }
   to{
      opacity:1;
   }
}


=======

.hide{
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.show{
  opacity: 1;
}
>>>>>>> feature2
